@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

body {
    transition: background-color 0.3s ease;
    /* font-family: 'Indie Flower', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}

.light-mode {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode {
    background-color: #2e2e2e;
    color: #ffffff;
}

#content {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    /* font-family: 'Indie Flower', 'Trebuchet MS'; */
    margin-top: 16px;
    min-width: 170px;
}

.to-do-list {
    margin-bottom: 32px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    /* border: 1px red solid; */
}

.hidden-checkbox {
    opacity: 0;
    position: absolute;
}

.checkmark {
    width: 20px;
    height: 20px;
    background-color: rgb(246, 246, 246);
    border: 1px solid #939393;
    margin-right: 16px;
}

.custom-checkbox .checkmark {
    order: -1;
}

.check-img {
    width: 25px;
    display: none;
}

.hidden-checkbox:checked + .custom-checkbox .check-img {
    display: block;
}

.task {
    display: flex;
    align-items: center;
    margin: 16px 0;
    /* border: 1px red solid; */
}

/* .task > img {
    width: 32px;
    margin-left: 16px;
} */

.remove-task-img {
    display: none;
    width: 28px;
    margin-left: 16px;
}

.task:hover .remove-task-img {
    display: block;
}


.do-by {
    font-size: 1.2rem;
    /* margin-left: 32px; */
    color: red;
    margin-top: 2px;
}

.notes-header, .task-notes {
    font-size: 1.2rem;
    margin-top: 4px;
    color: #2c2c2c;
}

.add-new-task {
    /* display: flex; */
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    color: inherit;
    /* margin: 0 auto; */
    /* margin: 0; */
    width: 200px;
    /* border: 1px red solid; */
}

.add-new-task:hover {
    text-decoration: underline;
    cursor: pointer;
}

.completed-tasks {
    /* margin-bottom: 100vh; */
    color: inherit;
}

.new-task-form {
    /* display: none; */
    display: flex;
    flex-direction: column;
    /* border: 1px red solid; */
    border-radius: 4px;
    background-color: rgb(222, 222, 222);
    font-size: 1rem;
    padding: 12px;
}

.new-task-form > input {
    margin-bottom: 8px;
}

.task-prio {
    /* border: 1px blue dashed; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

textarea {
    resize: none;
}

.submit-task-btn {
    margin: 0 auto;
    margin-top: 8px;
    /* flex: 1; */
    border-radius: 8px;
    height: 24px;
    width: 84px;
    font-family: inherit;
    background-color: lightgreen;
    border-color: lime;
}

.hide {
    display: none;
}